body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 70px; /* Add padding equal to or slightly greater than the navbar height */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #f7941d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #e5891c;
}

.vacancy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.no-vacancy {
    text-align: center;
}

.no-vacancy-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
