{% extends  "base.html" %}

{% block content %}


<div class="container overflow-hidden text-center" style="padding-top:100px; padding-bottom:100px;">
    <div class="row g-2">
    <h2>Order</h2>
    <div class="col-6">
        {% for order in order_list %}
        <div class="testimonial p-3">
            <div class="testimonial-content">
                <i class="fas fa-user testimonial-icon"></i>
                <div class="testimonial-text">

                    <footer>{{order.name}}</footer>
                    <blockquote>
                        <p>{{order.company}}</p>
                        <p>{{order.phone}}</p>
                        {% if order.package %}
                        <p>{{order.package.name}}</p>
                        {% endif %}
                        {% if order.custom %}
                        <h4> custom Features</h4>
                        {% for feature in order.custom.feature.all %}
                            <p>{{feature.name}}</p>
                        {% endfor %}
                        {% endif %}
                    </blockquote>
                    {% if user.is_authenticated and user.is_superuser %}

                    <a class="btn btn-primary" href="{% url 'package:order_edit' pk=order.pk %}">
                        <i class="bi bi-pen"></i> Edit
                    </a>


                    <a class="btn btn-primary" href="{% url 'package:order_remove' pk=order.pk %}"><i
                            class="bi bi-file-earmark-x"></i>Delete</a>


                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        </div>
</div>


{% endblock %}